.modal__content_type_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.modal__error-text {
  max-width: 450px;
}

.modal__error-message {
  font-weight: 500;
}
