.card-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 97px;
  background-color: white;
  padding: 80px 10px 120px;
  border-radius: 20px;
}

.card-section__cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  row-gap: 110px;
  column-gap: 80px;
  justify-content: center;
}

.card-section__no-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 100%;
  flex-direction: column;
  gap: 50px;
}

.card-section__no-cards-image {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.card-section__no-cards-btn {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #ffe365;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 9px 30px;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

.card-section__no-cards-btn:hover {
  cursor: pointer;
  background-color: #ffda31;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
}
