.page {
  font-family: "Lato", sans-serif;
  background-color: #f3f3f3;
  min-height: 100vh;
  height: 100%;
}

.page__content {
  margin: 0 auto;
}

.page__container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-height: 715px) {
  .page {
    height: 910px;
  }
}
