.hero {
  margin: 96px 0 121px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text-image-logged {
  width: 584px;
  height: 67px;
}

.hero__colunm-logged {
  margin: 100px 0 244px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 886px;
  align-items: center;
  text-align: center;
}

.hero__text {
  font-size: 20px;
  font-weight: 500;
  color: #434343;
}

.hero__searcher {
  display: flex;
  gap: 17px;
  margin-top: 15px;
  width: 100%;
}

.hero__imput {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
  padding-left: 15px;
  font-size: 20px;
  font-weight: 500;
}

.hero__search-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: #ffe365;
}

.hero__search-btn:hover {
  cursor: pointer;
  background-color: #ffda31;
}

.hero__search-icon {
  width: 25px;
  height: 25px;
}

.hero__column {
  display: flex;
  justify-content: center;
  gap: 33px;
  flex-direction: column;
  max-width: 402px;
  align-items: center;
  text-align: center;
}

.hero__text-image {
  width: 322px;
  height: 113px;
}

.hero__title {
  font-size: 24px;
  font-weight: 500;
  color: #434343;
}

.hero__cards-image {
  width: 851.49px;
  height: 533.09px;
  box-sizing: border-box;
}

.hero__cta-btn {
  width: 221px;
  height: 50px;
  border: none;
  background-color: #ffe365;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 9px 30px;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

.hero__cta-btn:hover {
  cursor: pointer;
  background-color: #ffda31;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
}
